# Maven
**/target/

# Spring Boot
**/src/main/resources/application.properties

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache